-# - content_for :title, 'Duplicate Test'
-# - content_for :stylesheets do
-#   = stylesheet_link_tag 'katex', media: :all
-# - content_for :javascripts do
-#   = javascript_include_tag 'katex'
-#
-# %h1 Duplicate a Test
-#
-# = simple_form_for @new_test do |f|
-#   = f.input :title
-#   = f.button :submit
